/* =============================================== STYLE HEADER AND FOOTER =======================================*/
* {
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #4aafff;
    --blue-color: #2196f3;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.4s;
}

body {
    font-family: 'Cairo', sans-serif;
    background: #f1f5f9;
    direction: ltr;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.section-1 {
    margin-top: 240px;
    margin-bottom: 220px;
}

.container-1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container-1 {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-1 {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-1 {
        width: 1170px;
    }
}

p {
    line-height: 22px;
}

/* Start Header */

.header-1 {
    width: 100%;
    box-shadow: 0 0 10px 0 #aaa;
    background-color: white;
    position: relative;
}

.header-1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-1 .container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-1 .logo-1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-1 .links-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.header-1 .dots-1 > span {
    height: 3px;
    width: 30px;
    background-color: #000;
    transition: var(--main-transition);
    display: none;
}

.header-1 .dots-1 > span:not(:last-child) {
    margin-bottom: 5px;
}

.header-1 .dots-1 > span:nth-child(2) {
    width: 21px;
}

.header-1 .links-1 ul {
    display: flex;
}

.header-1 .links-1 ul li {
    transition: var(--main-transition);
}

.header-1 .links-1 a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    transition: var(--main-transition);
}
@media (min-width: 480px) {
    .header-1 .links-1 a {
        height: 64px;
    }
}

.header-1 .links-1 a::before,
.header-1 .links-1 a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.header-1 .links-1 a::before {
    top: 0;
    right: 0;
}
.header-1 .links-1 a::after {
    bottom: 0;
    left: 0;
}

.header-1 .links-1 a:hover {
    background-color: #f5f5f5;
    color: #666666;
}
.header-1 .links-1 a:hover::before,
.header-1 .links-1 a:hover::after {
    width: 100%;
}

@media (max-width: 580px) {
    .header-1 .dots-1,
    .header-1 .dots-1.active-1 {
        transition: var(--main-transition);
        z-index: 5;
        direction: rtl;
        cursor: pointer;
    }
    .header-1 .dots-1 > span {
        display: block;
    }
    .header-1 .dots-1:hover span:nth-child(2),
    .header-1 .dots-1.active span:nth-child(2) {
        width: 30px;
    }
    .header-1 .links-1 {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        padding: 0;
        background: linear-gradient(135deg, #eee, #ddd);
        backdrop-filter: blur(20px);
        -webkit-background-filter: blur(20px);
        transition: var(--main-transition);
    }
    .header-1 .links-1 ul li {
        width: 100%;
    }
    .header-1 .links-1 ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-1 .links-1 ul li a {
        height: fit-content;
        padding: 13px 33px;
    }

    
    .header-1 .links-1 ul li:not(:last-child) {
        border-bottom: 1px solid #aaa;
    }

    .header-1 .links-1 ul li:hover {
        padding-right: 13px;
        background-color: #f5f5f5;
    }
    .header-1 .links-1 ul a:hover {
        background-color: transparent;
    }
    
    .header-1 .links-1 ul li a::after,
    .header-1 .links-1 ul li a::before {
        display: none;
    }

    .header-1 .links-1.active-1 {
        transform: translateY(64px);
    }
}

/* End Header */
/* ************************************************************************************************************** */
/* Start up */
.up-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 43px;
    height: 43px;
    color: white;
    background-color: var(--main-color-alt);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    z-index: -100;
    transition: var(--main-transition);
}

.up-1.show-1 {
    opacity: 1;
    z-index: 100;
}

.up-1 > i {
    font-size: 20px;
}

.up-1:hover > i {
    animation: upmove var(--main-transition);
}

@keyframes upmove {
    0% {
        padding-bottom: 0px;
    }
    100% {
        padding-bottom: 80px;
        opacity: .1;
    }
}
/* End up */
/* ************************************************************************************************************** */
/* Start Footer */
.footer-1 {
    padding-top: 50px;
    background-color: white;
}

.footer-1 .container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 120px;
    justify-content: center;
}

.footer-1 .container-1 li {
    list-style: none;
    color: #ffc20e;
}

.footer-1 .container-1 .info-1 li {
    padding: 4px 0;
    font-size: 18px;

}

.footer-1 .container-1 li i {
    margin: 10px 20px;
    transition: .5s;
}

.footer-1 .container-1 li:hover {
    transition: var(--main-transition);
    margin-left: 15px;
}

.footer-1 .container-1 ul {
    margin-right: 10px;
}

.footer-1 .container-1 li a {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 20px;
}

.footer-1 .container-1 li:hover a {
    color: black;
}

.footer-1 .container-1 h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-color);
    margin: 10px 0 20px 0;
    font-size: 33px;
}

.link-1 {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-1 a {
    text-decoration: none;
}

.link-1 .li-1 {
    width: 50PX;
    height: 50PX;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 25px;
    background-color: #cbcbcb;
    transition: var(--main-transition);
}
.footer-1 .link-1 a > div {
    transition: var(--main-transition);
}
.footer-1 .link-1 .facebook-1:hover {
    background-color: #1877f2;
}

.footer-1 .link-1 .twitter-1:hover {
    background-color: #1da1f2;
}
.footer-1 .link-1 .instagram-1:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.footer-1 .link-1 .snapchat:hover {
    background-color: #d3d018;
}
.footer-1 .link-1 .whtsapp-1:hover {
    background-color: #25d366;
}
.footer-1 .copy-right-1 {
    text-align: center;
    padding: 10px;
}
/* End Footer */
/* =============================================== STYLE FORM ==================================================*/
.form-1 {
    position: relative;
    width: 600px;
    background-color: white;
    padding: 30px;
    padding-top: 110px;
    margin: 250px auto 100px;
    box-shadow: 0 0 10px 0 rgb(29 29 29 / 50%);
}

.form-1 h2 {
    margin: 0;
    background-color: var(--main-color-alt);
}

.form-1 input[type=text],
.form-1 input[type=password] {
    width: 100%;
    background-color: #ddd;
    padding: 15px;
    margin: 20px auto 30px;
    border: none;
}

.form-1 .coontainer-1 {
    display: flex;
    justify-content: space-between;
}

.form-1 .name-1,
.form-1 .mail-1,
.form-1 .noteq-1,
.form-1 .Password2Error2-1,
.form-1 .SecondNameError2-1,
.form-1 .Number-1{
    color: #ff0000d9;
}

.form-1 .Password2Error2-1, 
.form-1 .SecondNameError2-1 {
    display: none;
}

.form-1 .inputcont-1 {
    width: 49.5%;
}

.form-1 .name-1 {
    display: flex;
}
.form-1 .name-1 span {
    width: 50%;
}

.form-1 input[type=text]:nth-child(4) {
    width: 100%;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus {
    outline: none;
    border: 1px solid #999999;
    background-color: #eeeeee;
}

.form-1 .text3-1 {
    width: 100%;
}

.form-1 .buttons-1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-1 .buttons-1 button {
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
}

.form-1 .buttons-1 button:hover {
    background-color: var(--main-color-alt);
}

.form-1 .buttons-1 span {
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
}

.form-1 .buttons-1 span:hover {
    background-color: var(--main-color-alt);
}

.form-1 h2 {
    position: absolute;
    width: 100%;
    background-color: var(--main-color-alt);
    padding: 25px;
    top: 0;
    right: 0;
}

@media (max-width: 635px) {
    .form-1 {
        width: 90%;
    }
    .form-1 input[type=text],
    .form-1 input[type=password] {
        width: 100%;
    }
    .form-1 input[type=text],
    .form-1 input[type=password] {
        margin: 10px auto;
    }
    .form-1 .name-1 span {
        width: 100%;
    }
    .form-1 .Password2Error2-1, 
    .form-1 .SecondNameError2-1 {
    display: block;
    }
    .form-1 .Password2Error-1, 
    .form-1 .SecondNameError-1 {
    display: none;
    }
    .form-1 .coontainer-1 {
        display: flex;
        flex-direction: column;
    }
    .form-1 .inputcont-1 {
        width: 100%;
    }
}

.container-section-1 {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.container-section-1 > div {
    margin-top: 70px;
    margin-bottom: 70px;
}

.display-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.taps-1, .taps-1 ul {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    list-style: none;
}

.taps-1 li {
    position: relative;
    padding: 10px 20px;
    background-color: #b4b4b48a;
    transition: var(--main-transition);
    cursor: pointer;
    border-radius: 4px;
    transition: var(--main-transition);
}
.taps-1 li:hover {
    background-color: #e9e9e9;
}

.taps-1 li.active-1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 80%;
    height: 3px;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.card-1 {
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    width: 300px;
    margin: auto;
}
.card-1 > i {
    position: absolute;
    top: 26px;
    right: 20px;
    color: var(--main-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    cursor: pointer;
}
.card-1 .instructor-1 {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
    object-fit: cover;
}
.card-1 .cover-1 {
    max-width: 100%;
    object-fit: cover;
}

.card-1 div:first-child {
    padding: 20px;
}
.card-1 .cont-info-1 {
    padding: 20px;
}
.card-1 .title-1 {
    margin: 0;
}
.card-1 .description-1 {
    font-size: 14px;
    margin-top: 15;
    color: var(--grey-color);
}

.card-1 .info-1 {
    position: relative;
    border-top: 1px solid #eee;
    font-size: 13px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*=================================================== STYLE THEAM ============================================*/

.theam-1 div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin-left: 15px;
}

.theam-1 span {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid transparent;
    transition: var(--main-transition);
}
.theam-1 span:hover,
.theam-1 span.active-1 {
    border-color: #cbe8ffeb;
}
.theam-1 span:hover::before,
.theam-1 span.active-1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #cbe8ffeb;
}



/* ========================================================= STYLE VIDEO ======================================================= */
.videos-1 {
    padding: 40px 0;
    background-color: #f1f5f9;
    border-radius: 10px;
}
.videos-1 .container-1 {
    display: flex;
    justify-content: center;
}

.videos-1 .container-1 .holder-1 {
    display: flex;
    height: 80vh;
    width: 80%;
    background-color: #fff;
    padding: 20px;
}

.videos-1 .container-1 .holder-1 .preview-1 {
    width: 100%;
    height: calc(100% - 45px);
}

.videos-1 .container-1 .holder-1 .preview-1 .info-1 {
    padding: 10px 10px;
    background-color: #f0f0f0;
    text-align: center;
    margin-bottom: 5px;
}
.videos-1 .container-1 .holder-1 .video-1 {
    width: 100%;
    height: fit-content;
    position: relative;
    height: 100%;
}
.videos-1 .container-1 .holder-1 .infovideo-1 {
    width: 100%;
    height: 100%;
}

.videos-1 .container-1 .holder-1 .list-1{
    width: 200px;
    height: 100%;
    padding: 0 0 0 10px;
}

.videos-1 .container-1 .holder-1 .list-1 ul {
    overflow-y: auto;
    height: calc(100% - 45px);
    margin: 0;
    padding: 0;
}

.videos-1 .container-1 .holder-1 .list-1 ul li {
    list-style: none;
    padding: 13px 20px;
    cursor: pointer;
}

.videos-1 .container-1 .holder-1 .list-1 ul li:hover,
.videos-1 .container-1 .holder-1 .list-1 ul li.active-1{
    background-color: #ebebeb;
}

.videos-1 .container-1 .holder-1 .list-1 ul li {
    border-bottom: 1px solid #dbdbdb;
}

.videos-1 .container-1 .holder-1 .list-1 .name-1 {
    padding: 10px 10px;
    background-color: #f0f0f0;
    text-align: center;
    margin-bottom: 5px;
}

@media (max-width: 1100px) {
    .videos-1 .container-1 .holder-1 {
        height: 70vh;
    }
}
@media (max-width: 900px) {
    .videos-1 .container-1 .holder-1 {
        height: 60vh;
    }
}
@media (max-width: 747px) {
    .videos-1 .container-1 > div {
        margin-bottom: 350px;
    }
    .videos-1 .container-1 .holder-1 {
        height: 100%;
        flex-direction: column;
        width: 100%;
    }
    .videos-1 .container-1 .holder-1 .list-1 {
        width: 100%;
        height: 40vh;
        padding: 20px 0 0;
        z-index: 10;
    }
    .videos-1 .container-1 .holder-1 .video-1 {
        height: 55vh;
    }
}

@media (max-width: 600px) {
    .videos-1 .container-1 .holder-1 .video-1 {
        height: 50vh;
    }
}
@media (max-width: 480px) {
    .videos-1 .container-1 .holder-1 .video-1 {
        height: 43vh;
    }
}
@media (max-width: 420px) {
    .videos-1 .container-1 .holder-1 .video-1 {
        height: 33vh;
    }
}

/*=============================================== TABLE ==========================================*/
    /* Start Table */
    .responsive-table-1 {
        overflow: auto;
        max-height: 700px;
    }
    table {
        border-spacing: 0;
        counter-reset: table-counter;
    }
    thead th {
        background-color: #eee;
        font-weight: bold;
        white-space: nowrap;
        padding: 18px 25px;
        text-align: center;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        text-align: center;
    }
    table tbody tr td,
    table tfoot tr td {
        text-align: center;
        padding: 7px;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    table tbody tr td:first-child, 
    table tfoot tr td:first-child { 
        border-left: 1px solid #eee; 
    }
    tbody tr:hover td,
    tfoot tr:hover td {
        background-color: #faf7f7;
        transition: var(--main-transition);
    }
    table img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        padding: 2px;
        background-color: white;
        object-fit: cover;
    }
    table img:not(:first-child) {
        margin-left: -20px;
    }
    table .label-1 {
        font-size: 13px;
    }
    table .status-1 {
        padding: 2px 12px;
        border-radius: 6px;
        color: white;
    }
    table .status-1.active-1 {
        background-color: var(--green-color);
    }
    table .status-1.pending-1 {
        background-color: var(--blue-color);
    }
    table .status-1.stop-1,
    table .status-1.delete-1 {
        background-color: var(--red-color);
    }
    table button {
        border: none;
        padding: 7px 12px;
        cursor: pointer;
    }

      /* End Table */